/* Contenedor principal del slider */
.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 800px; /* Ajusta el tamaño máximo del slider según tus necesidades */
  margin: 0 auto; /* Centra el slider */
}

/* Contenedor de la imagen */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0 20px; /* Espaciado entre las imágenes */
}

/* Estilos de las imágenes */
.image {
  object-fit: cover;  /* Asegura que la imagen mantenga su proporción */
  width: 100%;  /* El ancho será siempre el 100% del contenedor */
  height: 500px; /* Fija la altura de todas las imágenes */
  max-width: 100%; /* Se ajusta al tamaño del contenedor, pero no se estira más allá del máximo */
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Efecto hover */
}

/* Efecto hover para la imagen */
.image:hover {
  transform: scale(1.05); /* Amplía ligeramente la imagen al pasar el cursor */
}

/* Mensaje de error cuando la imagen no se carga */
.errorMessage {
  color: red;  /* Hace que el texto sea rojo */
  font-size: 1.5rem;  /* Ajusta el tamaño de la fuente según sea necesario */
  font-weight: bold;  /* Hace que el texto sea más grueso */
  text-align: center;  /* Centra el texto */
  padding: 10px;
  border-radius: 5px;
  transition: color 0.3s ease;  /* Transición suave para el color */
  margin-bottom: 20px; /* Aumenta el espacio debajo del mensaje */
  margin-top: 20px;  
}

/* Estilo al pasar el mouse (hover) */
.errorMessage:hover {
  color: #ff4c4c;  /* Cambia el color del texto a un rojo más claro o brillante */
  cursor: pointer;  /* Cambia el cursor para indicar que es interactivo */
}

/* Estilos para los botones de navegación */
.navButtonPrev, .navButtonNext {
  background-color: #f0e68c; /* Color pastel claro */
  color: #333;
  border: none;
  padding: 12px;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente los botones */
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Estilo para los botones de navegación cuando el cursor pasa sobre ellos */
.navButtonPrev:hover, .navButtonNext:hover {
  background-color: #d3d3d3; /* Un color más claro cuando se pasa el cursor */
}

/* Posicionamiento del botón "anterior" */
.navButtonPrev {
  left: 10px;
}

/* Posicionamiento del botón "siguiente" */
.navButtonNext {
  right: 10px;
}
